<!DOCTYPE html>
<html>
<head>
<style> 
body {
  background-image: url("img_tree.gif"), url("paper.gif");
  background-repeat: no-repeat, repeat;
  background-color: #cccccc;
}
</style>
</head>
<body>

</body>
</html>
